body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    font-size: 20px;
    text-align: center;
    color: #f0f0f0;
}

.container {
    border-radius: 10px;
    border: 5px solid #f0f0f0;
    margin: 4% 10% 0 10%;
    padding: 10px;
}

img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

h1{ 
  font-size: 2rem;
}

.track{
  font-size: 2rem;
}

a{
  font-weight: bold;
  transition:all .3s ease-in-out;
  padding: 8px;
  border-radius: 4px;
}
a:hover{
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

@media (min-width:800px){
  .image,img{
    width: 250px;
    height: 250px;
  }
}